<a href="https://colab.research.google.com/github/eTcilopp/temp_python_intro_course_gb/blob/master/etl_intro/homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fifa_s2.csv')
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

Получим общее представление о данных

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

Определим, какие данные являются неполными

In [5]:
(df.isna().sum()/len(df) * 100).sort_values(ascending=False)

Contract Valid Until        11.379742
Value                       10.712797
Club                        10.045852
Position                     0.875365
International Reputation     0.416840
Nationality                  0.291788
Skill Moves                  0.250104
Release Clause               0.125052
Weight                       0.000000
Height                       0.000000
Joined                       0.000000
ID                           0.000000
Name                         0.000000
Wage                         0.000000
Potential                    0.000000
Overall                      0.000000
Age                          0.000000
Preferred Foot               0.000000
dtype: float64

Определим неполные данные другим способом: по строкам

In [6]:
for col in df.columns:
  missing = df[col].isnull()
  num_missing = np.sum(missing)
  if num_missing > 0:
    print(f'Created missing indicator for: {col}. {num_missing} missing values')
    df[f'{col}_ismissing'] = missing
is_missing_cols = [col for col in df.columns if '_ismissing' in col]
df['num_missing'] = df[is_missing_cols].sum(axis=1)

Created missing indicator for: Nationality. 7 missing values
Created missing indicator for: Club. 241 missing values
Created missing indicator for: Value. 257 missing values
Created missing indicator for: International Reputation. 10 missing values
Created missing indicator for: Skill Moves. 6 missing values
Created missing indicator for: Position. 21 missing values
Created missing indicator for: Contract Valid Until. 273 missing values
Created missing indicator for: Release Clause. 3 missing values

In [7]:
df.sort_values(by='num_missing', ascending=False)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Release Clause,Nationality_ismissing,Club_ismissing,Value_ismissing,International Reputation_ismissing,Skill Moves_ismissing,Position_ismissing,Contract Valid Until_ismissing,Release Clause_ismissing,num_missing
1287,222134,T. Hamed,29,Egypt,67,67,NaN,NaN,0,Right,...,4585.060806,False,True,True,False,False,False,True,False,3
1054,213615,R. Williams,26,South Africa,67,72,NaN,NaN,0,Right,...,4585.060806,False,True,True,False,False,False,True,False,3
1032,212783,O. Gaber,26,Egypt,68,71,NaN,NaN,0,Right,...,4585.060806,False,True,True,False,False,False,True,False,3
2096,241234,P. Mahlambi,20,South Africa,70,84,NaN,NaN,0,Right,...,4585.060806,False,True,True,False,False,False,True,False,3
2099,241381,M. Madisha,23,South Africa,68,76,NaN,NaN,0,Right,...,4585.060806,False,True,True,False,False,False,True,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,206083,J. Murphy,23,England,70,77,Cardiff City,2500.0,21,Right,...,5500.000000,False,False,False,False,False,False,False,False,0
856,206058,M. De Sciglio,25,Italy,78,81,Juventus,10500.0,78,Right,...,18100.000000,False,False,False,False,False,False,False,False,0
855,206032,Pol,26,Spain,64,67,CF Reus Deportiu,400.0,2,Right,...,650.000000,False,False,False,False,False,False,False,False,0
854,206018,I. Vetokele,26,Angola,67,69,Charlton Athletic,925.0,5,Right,...,1700.000000,False,False,False,False,False,False,False,False,0
2398,246608,Fidalgo,21,Spain,65,75,Real Madrid,875.0,20,Right,...,2000.000000,False,False,False,False,False,False,False,False,0

Мы добавили колонку с количеством отсутствующих значений в каждой строке.<br>
Для учебных целей удалим строки с количеством отсутствующих значений > 2 <br>
(На практике мы бы взяли этот показатель равным например 13-ти - исключая строки, состоящие преимущественно из пустых значений)

In [8]:
line_with_missing_values = df[df['num_missing']>2]
df_cleaned_rows = df.drop(line_with_missing_values.index)

In [9]:
df_cleaned_rows['ID'].count()

2152

Удалим полные дупликаты

In [10]:
df_no_duplicates = df_cleaned_rows.reset_index().drop_duplicates()
print(f"Рядов без дупликатов: {df_no_duplicates['ID'].count()}")

Рядов без дупликатов: 2152

Похоже, полных дупликатов не нашлось команд и имен.<br>
Попробуем унифицировать написание<br>
Для начала посмотрим на все варианты написания команд

In [11]:
unique_clubs = sorted(df_cleaned_rows['Club'].unique())
print(*unique_clubs, sep='\n')

1. FC Heidenheim 1846
1. FC Kaiserslautern
1. FC Köln
1. FC Magdeburg
1. FC Nürnberg
1. FC Union Berlin
1. FSV Mainz 05
AS Béziers
AS Monaco
Aalborg BK
Arsenal
Aston Villa
Atalanta
BSC Young Boys
Bayer 04 Leverkusen
Borussia Dortmund
Borussia Mönchengladbach
Brescia
Brighton & Hove Albion
Brisbane Roar
Bristol City
Bristol Rovers
Burnley
Bursaspor
Burton Albion
Bury
CA Osasuna
CD Antofagasta
CD Aves
CD Everton de Viña del Mar
CD Feirense
CD Huachipato
CD Leganés
CD Lugo
CD Nacional
CD Numancia
CD O'Higgins
CD Palestino
CD Tenerife
CD Tondela
CD Universidad de Concepción
CF Rayo Majadahonda
CF Reus Deportiu
Cagliari
Cambridge United
Cardiff City
Carlisle United
Carpi
Ceará Sporting Club
Celtic
Central Coast Mariners
Cerezo Osaka
Chamois Niortais Football Club
Changchun Yatai FC
Chapecoense
Charlton Athletic
Chelsea
Cádiz CF
Córdoba CF
FC Barcelona
FC Basel 1893
FC Bayern München
FC Heidenheim 1846
FC Köln
FC Porto
Fc Barcelona
Inter
Juventus
Lazio
Liverpool
Livingston FC
Lokomotiv Moscow
Malmö FF
Manchester City
Manchester United
Milan
Paris Saint-Germain
Real Madrid
Roma
Sevilla FC
Udinese

Явных дупликатов не обнаруживается. Нем не менее, "причешем" данные

In [12]:
!pip install unidecode >> None
from unidecode import unidecode

In [13]:
def clean_up_text(array):
  to_lowercase = list(map(lambda x: x.lower(), array))
  transliterate = list(map(lambda x: unidecode(x), to_lowercase))
  return transliterate

In [15]:
df_no_duplicates['Club'] =  clean_up_text(df_no_duplicates['Club'])

In [80]:
lowercase_clubs = list(map(lambda x: x.lower(), df_no_duplicates['Club']))
print(f'{lowercase_clubs[:10] = }')

lowercase_clubs[:10] = ['paris saint-germain', 'fc porto', 'cd aves', 'fc bayern munchen', 'cambridge united', 'cd tondela', 'juventus', 'milan', 'celtic', 'bsc young boys']

In [22]:
!pip install unidecode >> None
from unidecode import unidecode

In [79]:
transliterated_clubs = list(map(lambda x: unidecode(x), lowercase_clubs))
print(f'{transliterated_clubs[:10] = }')

transliterated_clubs[:10] = ['paris saint-germain', 'fc porto', 'cd aves', 'fc bayern munchen', 'cambridge united', 'cd tondela', 'juventus', 'milan', 'celtic', 'bsc young boys']

In [24]:
df_cleaned_rows['Club'] = transliterated_clubs
df_cleaned_rows.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Release Clause,Nationality_ismissing,Club_ismissing,Value_ismissing,International Reputation_ismissing,Skill Moves_ismissing,Position_ismissing,Contract Valid Until_ismissing,Release Clause_ismissing,num_missing
0,1179,G. Buffon,40,Italy,88,88,paris saint-germain,4000.0,77,Right,...,7400.0,False,False,False,False,False,False,False,False,0
1,5479,Casillas,37,Spain,82,82,fc porto,1500.0,10,Left,...,3000.0,False,False,False,False,False,True,False,False,1
2,8205,Braga,35,Portugal,70,70,cd aves,750.0,5,Right,...,1600.0,False,False,False,False,False,False,False,False,0
3,9014,A. Robben,34,Netherlands,84,84,fc bayern munchen,15500.0,110,Left,...,25600.0,False,False,False,False,False,False,False,False,0
4,19521,J. Ibehre,35,England,61,61,cambridge united,120.0,2,Right,...,210.0,False,False,False,False,False,False,False,False,0

Написать функцию, которая добавит колонку с разбиением возраста по группам:<br> до 20, от 20 до 30, от 30 до
36 и старше 36. <br>Посчитать количество футболистов в каждой категории.

In [ ]:
def add_age_group(df, ages, age_column_name='Age'):
  def arrange_age_groups():
    ages.sort()
    return ages

  def get_age_group(age, age_groups=arrange_age_groups()):
    for idx in range(len(age_groups)):
      if int(age) < age_groups[idx]:
        return f'< {age_groups[idx]}' if idx == 0 else f'{age_groups[idx - 1]}-{age_groups[idx]}'
    return f'> {age_groups[idx]}'



  df['Age_group'] = list(map(get_age_group, df[age_column_name]))
  return df




df_with_age_groups = add_age_group(df, [20, 30, 36])

In [78]:
print(f"Количество футболистов в каждой группе:\n {df_with_age_groups.groupby('Age_group')['ID'].count()}")

Количество футболистов в каждой группе:
 Age_group
20-30    1646
30-36     460
< 20      270
> 36       23
Name: ID, dtype: int64