<a href="https://colab.research.google.com/github/eTcilopp/temp_python_intro_course_gb/blob/master/apache_sparks/homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pyspark >> None

In [31]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [32]:
data = [(1, 'Joe', 70, 3), (2, 'Henry', 80, 4), (3, 'Sam', 60, None), (4, 'Max', 90, None)]

In [33]:
spark=SparkSession.builder.appName('S2').getOrCreate()

In [34]:
df = spark.createDataFrame(data, ['id', 'name', 'salary', 'manager_id'])

In [35]:
df.show(5)

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
|  1|  Joe|    70|         3|
|  2|Henry|    80|         4|
|  3|  Sam|    60|      NULL|
|  4|  Max|    90|      NULL|
+---+-----+------+----------+

In [36]:
df1 = df.alias("df1")
df2 = df.alias("df2")

In [38]:
joined_df = df1.join(df2, col("df1.manager_id") == col("df2.id"), 'inner')
joined_df.show()

+---+-----+------+----------+---+----+------+----------+
| id| name|salary|manager_id| id|name|salary|manager_id|
+---+-----+------+----------+---+----+------+----------+
|  1|  Joe|    70|         3|  3| Sam|    60|      NULL|
|  2|Henry|    80|         4|  4| Max|    90|      NULL|
+---+-----+------+----------+---+----+------+----------+

In [39]:
joined_df = df1.join(df2, col("df1.manager_id") == col("df2.id"), 'inner').select(col("df1.name").alias('employee_name'), col("df1.salary").alias('employee_salary'), col("df2.salary").alias('manager_salary'))
joined_df.show()

+-------------+---------------+--------------+
|employee_name|employee_salary|manager_salary|
+-------------+---------------+--------------+
|          Joe|             70|            60|
|        Henry|             80|            90|
+-------------+---------------+--------------+

In [40]:
result_df = joined_df.filter(col("employee_salary") > col("manager_salary"))
result_df.show()

+-------------+---------------+--------------+
|employee_name|employee_salary|manager_salary|
+-------------+---------------+--------------+
|          Joe|             70|            60|
+-------------+---------------+--------------+